# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/

#run_dev.sh
# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.cursor/
.cursorrules
.github

# OS
.DS_Store
Thumbs.db

#generated cache stuff
data/cache/*
